@import "tailwindcss";

@layer base {
    .btn-primary {
        @apply text-white px-3 py-1 m-1 rounded-3xl bg-blue-500;
    }
    .todo-item {
        @apply flex gap-2 bg-yellow-200 rounded-3xl m-2 p-3 border border-gray-400 ;
    }
    .input {
        @apply border-gray-400 border-2 rounded-xl p-2 m-5;
    }
}
